@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@using (Html.BeginForm("CaptureFile", "AsyncUpload", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type='file' name='file' id='file' />
    <input type="submit" value="submit" />
    
    <input type="button" value="Ajax" class="ajax-button" />
    <input type="hidden" id="unique" name="unique" value="@Guid.NewGuid().ToString().Substring(0, 5)"/>
}

<div class="full" style="width: 500px; background-color: yellow; height: 60px;min-height: 60px; padding: 2px;">
    <div class="partial" style="width: 0px; background-color: Green; height: 58px;min-height: 58px;">
        
    </div>
</div>

<script type="text/javascript">

    $(function () {

        $('form').submit(function () {
            pinging();
        });

        $('.ajax-button').click(function (e) {

            $('form').ajaxForm(function () {
                //alert("Thank you for your upload!");
            });

            pinging();
            //e.preventDefault();

            //return false;
        });


    });


    function pinging() {
        window.pingingData = window.setInterval(function () {

            $.ajax(
            {
                url: 'http://are.a/AsyncUpload/GetLatestBytes?unique=' + $('#unique').val(),
                type: 'json',
                success: function (data) {
                    if (data.bytes) {
                        var bytes = window.parseInt(data.bytes);
                        var total = window.parseInt(data.total);

                        var calc = bytes / (total / 100);
                        $('.partial').css('width', calc.toString() + '%');

                        if (calc == 100) {
                            stopPinging();
                        }
                    }
                }

            }
        );

        }, 1000);
    }

    function stopPinging() {
        window.clearInterval(window.pingingData);
    }
 
</script>
